<!DOCTYPE html>
<html>
<head>
    <title>{{ exam.baslik }}</title>
</head>
<body>
    <h1>{{ exam.baslik }}</h1>

    {% if exam.son_tarih < today %}
        <p style="color:red;"> Bu ödevin teslim tarihi geçmiştir!</p>
    {% else %}
        <p style="color:green;">Teslim tarihi: {{ exam.son_tarih }}</p>
    {% endif %}

    <p>{{ exam.aciklama }}</p>

    <h2>Ödevi Teslim Et</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Teslim Et</button>
    </form>

    <a href="{% url 'home' %}">Geri Dön</a>
</body>
</html>